@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    display: initial;
    justify-content: center;
    padding: 20px;
}

H1{
    text-align: center;
    margin-bottom: 50px;
}

.details-table {
    font-family: Arial, sans-serif;
    margin-bottom: 50px;
    padding: 20px;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px; /* Space between the caption and table */
    text-align: center;
}

#tr, th {
    border: 1px solid #000; /* Black border for all cells */
    text-align: center;
    padding: 8px;
    background-color: beige;
    width: 100%; /* Adjust to match the number of columns */
}

#th, td {
    border: 1px solid #000; /* Black border for all cells */
    text-align: center;
    padding: 8px;
    width: 50px; /* Adjust to match the number of columns */
}

#th {
    background-color: #f2f2f2;
    border-bottom: 2px solid #000; /* Thicker bottom border for headers */
}

.footer {
    background-color: #333; /* Dark background color */
    color: white; /* White text color */
    padding: 20px;
    text-align: center;
}

.footer p {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    caption {
        font-size: 1.2em;
    }

    H1{
        text-align: center;
        margin-bottom: 50px;
    }

    .details-table {
        font-family: Arial, sans-serif;
        margin-bottom: 50px;
        padding: 20px;
    }

    tr, th {
        font-size: 0.8em; /* Reduce font size on smaller screens */
        padding: 6px; /* Reduce padding on smaller screens */
        width: 100%;
    }

    tr, th {
        font-size: 0.8em; /* Reduce font size on smaller screens */
        padding: 6px; /* Reduce padding on smaller screens */
    }

    #th {
        background-color: #f2f2f2;
        border-bottom: 2px solid #000; /* Thicker bottom border for headers */
    }

    .footer {
       display: none;
    }
}
